body {
    background-color: black;
    color: green;
    font-family: '8-Bit classic', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    text-align: center;
}

.colibri-button {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.colibri-button:hover {
    transform: scale(0.75);
}

.text-wrapper {
    display: none;
    font-size: 90pt; /* Double the size of the text */
    position: absolute;
    top: 50%;
    left: 65%;
    right: 65%;
    transform: translateY(-50%);
}

#typewriterText {
    font-size: 45pt;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid green;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: green; }
}
